@charset "UTF-8";
@media (max-width: 1000px) {
  .header_left a {
    font-size: 24px;
  }
  .slick-arrow:before {
    width: 30px !important;
    height: 100% !important;
  }
  .slick-next::before {
    content: '→';
  }
  .slick-prev {
    left: 38% !important;
  }
  .slick-prev::before {
    content: '←';
  }
}

@media (max-width: 670px) {
  .c-title_lv1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }
  .resp {
    display: block;
  }
  /* ---------------------
ヘッダー
---------------------*/
  .header_left a {
    font-size: 24px;
  }
  .nav_img {
    display: block;
    font-size: 24px;
    padding: 0 10px;
  }
  .header_list {
    display: none;
  }
  #resp_nav {
    display: none;
    z-index: 900;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 50%;
  }
  #resp_nav a {
    color: white;
  }
  #resp_nav li {
    padding: 10px 0;
    margin: 10px 0;
  }
  /* --- top --- */
  .top_title {
    width: 80%;
  }
  .top_title h1 {
    font-size: 32px;
  }
  .top_title span {
    font-size: 24px;
  }
  .top_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_list {
    font-size: 18px;
    width: 50%;
  }
  /* --- ポートフォリオ --- */
  .portfolio {
    width: 100%;
    text-align: center;
  }
  .portfolio a {
    font-size: 16px;
  }
  .portfolio_name {
    font-size: 18px;
  }
  .slick-arrow:before {
    width: 40px !important;
    height: 100% !important;
  }
  .slick-next::before {
    content: '→';
  }
  .slick-prev {
    left: 38% !important;
  }
  .slick-prev::before {
    content: '←';
  }
  /* --- プロフィール --- */
  .profile_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0 0;
  }
  .profile_left {
    width: 50%;
  }
  .profile_image {
    width: 100%;
    position: relative;
  }
  .profile_image::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .profile_right {
    width: 70%;
  }
  /* --- スキルとサービス --- */
  .skill_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skill {
    width: 40%;
  }
  .skill_image {
    font-size: 80px;
  }
  .skill_name {
    font-size: 16px;
  }
  .service_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service {
    width: 80%;
  }
  /* --- お問い合わせ --- */
  .form_name {
    width: 80%;
  }
  .form_mail {
    width: 80%;
  }
  .form_comment {
    width: 80%;
  }
  .submit {
    width: 80%;
  }
}
/*# sourceMappingURL=responsive.css.map */